{% extends "views/_base/base.html" %}

{% block introduction %}
	<h1>Vue directives</h1>

	<p>Code Class about Vue directives</p>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>

	<ul>
		<li><a href="/exercise-1">Exercise 1</a></li>
		<li><a href="/exercise-2">Exercise 2</a></li>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>
	
	<div class="cc-presentation">
	</div>
{% endblock %}

{% block stream %}
	<h2>Stream</h2>

	<div class="cc-stream">
	</div>
{% endblock %}
